<div class="container border border-dark">
  <br>
  <ul class="list-group">
    <li class="list-group-item list-group-item-dark">
      <h2>Emergency Transfer Summary (Form 34L-D)</h2>
    </li>
    <li class="list-group-item ">
      <h3>Transferring Facility</h3>
    </li>
    <li class="list-group-item ">
      <div class="container">
        <h5 class="mb-0">Name:</h5>
        <p class="mb-0"><%= @facility_name %></p>
      </div>
    </li>
  </ul>

  <ul class="list-group">
    <li class="list-group-item ">
      <h3>Patient Information</h3>
    </li>
  </ul>
  <ul class="list-group list-group-horizontal">
    <li class="list-group-item ">
      <div class="container">
        <h5 class="mb-0">First Name</h5>
        <p class="mb-0"><%= @first_name %></p>
      </div>
    </li>
    <li class="list-group-item ">
      <div class="container">
        <h5 class="mb-0">Middle Name</h5>
        <p class="mb-0"><%= @middle_name %></p>
      </div>
    </li>
    <li class="list-group-item ">
      <div class="container">
        <h5 class="mb-0">Last Name</h5>
        <p class="mb-0"><%= @last_name %></p>
      </div>
    </li>
    <li class="list-group-item ">
      <div class="container">
        <h5 class="mb-0">Medical Record (MR)</h5>
        <p class="mb-0"><%= @mr %></p>
      </div>
    </li>
  </ul>

  <ul class="list-group">
    <li class="list-group-item">
      <h3>Summary</h3>
      <p>This
        <%=@age%>
        years old
        <%=@gender%>
        was admitted to
        <%=@facility_name%>
        emergency facility on
        <%=@admission_moment%>
        due to a
        <%=@admission_diagnoses_description%>
        (<%=@admission_diagnoses_code%>). The observed symptoms on admission were
        <%=@admission_symptoms%>.
        <%=@admission_observations%>.</p>

      <p>Upon asking about known allergies, the patient disclosed
        <%=@allergies%>. Upon asking about chronic conditions, the patient disclosed
        <%=@chronic_conditions_description%>
        (<%=@chronic_conditions_code%>). The patient was administered with
        <%=@medication%>.</p>

      <p>The staff performed an
        <%=@diagnostic_procedures_description%>
        on
        <%=@diagnostic_procedures_moment%>, revealing a
        <%=@diagnoses_description%>
        (<%=@diagnoses_code%>). Our team proceeded to
        <%=@treatment%>.</p>
    </li>
  </ul>
</div>
