<br>
<ul class="list-group">
  <li class="list-group-item list-group-item-dark">
    <h2>Emergency Transfer Summary (Form 34L-D)</h2>
  </li>
  <li class="list-group-item">
    <h3>Transferring Facility</h3>
  </li>
  <li class="list-group-item">
    <div class="container">
      <h5 class="mb-0">Name:</h5>
      <p class="mb-0"><%= @facility['name'] %></p>
    </div>
  </li>
  <li class="list-group-item">
    <h3>Patient Information</h3>
  </li>
</ul>
<ul class="w-100 list-group list-group-horizontal">
  <li class="w-100 list-group-item">
    <div class="container">
      <h5 class="mb-0">First Name</h5>
      <p class="mb-0"><%= @patient['first_name'] %></p>
    </div>
  </li>
  <li class="w-100 list-group-item">
    <div class="container">
      <h5 class="mb-0">Middle Name</h5>
      <p class="mb-0"><%= @patient['middle_name'] %></p>
    </div>
  </li>
  <li class="w-100 list-group-item">
    <div class="container">
      <h5 class="mb-0">Last Name</h5>
      <p class="mb-0"><%= @patient['last_name'] %></p>
    </div>
  </li>
  <li class="w-100 list-group-item">
    <div class="container">
      <h5 class="mb-0">Medical Record (MR)</h5>
      <p class="mb-0"><%= @patient['mr'] %></p>
    </div>
  </li>
</ul>

<ul class="list-group">
  <li class="list-group-item">
    <h3>Summary</h3>
    <p>This <%= patient_age %> years old <%= @patient['gender'] %> was admitted to <%= @facility['name'] %> emergency facility on <%= admission_time %> due to a <%= admission_diagnoses %>. The observed symptoms on admission were <%= symptoms %>. <%= observations %>.</p>

    <p>Upon asking about known allergies, the patient disclosed <%= allergies %>. Upon asking about chronic conditions, the patient disclosed <%= chronic_conditions %>. The patient was administered with <%= medications %>.</p>

    <p>The staff performed an <%= diagnostic_procedures %>, revealing a <%= diagnoses %>. Our team proceeded to <%= treatments %>.</p>
  </li>
</ul>
<br>
<div class="container">
  <%= link_to 'DOWNLOAD PDF', patient_path(params[:id], format: :pdf), class: "btn btn-dark btn-block"%>
</div>
